body {
  background-color: #17171c;
  color: #fcfcfc;
  font-size: 1.2rem;
  font-family: sans-serif;
}

body > div {
  margin-bottom: 16px;
}

#minimessage-editor {
  position: relative;
  height: 200px;
}

textarea {
  background-color: inherit;
  color: inherit;
  resize: none;
}

#output {
  font-family: monospace;
  margin-top: 0;
}

#minimessage-string, #minimessage-highlighting {
  margin: .5rem;
  padding: .5rem;
  width: calc(100% - 3rem);
  border: 2px solid #979797;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: pre;
}

#minimessage-string, #minimessage-highlighting, #minimessage-highlighting * {
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
}

#minimessage-string {
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: #fcfcfc;
}

#minimessage-highlighting {
  z-index: 0;
  overflow: hidden;
}

.hover-source {
  position: relative;
  display: inline-block;
}

.hover {
  position: absolute;
  background-color: #100110;
  border: 2px solid #180133;
  visibility: hidden;
  bottom: 100%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 #100110;
  padding: 2px;
  cursor: initial;
}

.hover-source:hover .hover {
  visibility: visible;
}

.token.punctuation {
  color: #999;
}

.token.tag-name {
  color: #0cf;
}
